# fly.toml app configuration file generated for realestate-bbpxnq on 2026-02-23T06:45:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'realestate-bbpxnq'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
